## General
.DS_Store
.swiftylint.yml
.AppleDouble
.LSOverride

## User settings
xcuserdata/

## Thumbnails
._*

## Files that might appear in the root of a volume
.TemporaryItems
.Trashes

## Most of this is placeholder