## General
.DS_Store
.AppleDouble
.LSOverride

## User settings
xcuserdata/

## Thumbnails
._*
*.yml

## Files that might appear in the root of a volume
.TemporaryItems
.Trashes

## Most of this is placeholder
